/* 

--Text--

  main-bg:           #282828FF;
  main-fg:           #CBCED3FF;
  main-br:           #EBDBB2FF;
  main-ex:           #85A583FF;
  select-bg:         #475437FF;
  select-fg:         #B5CC97FF;
  separatorcolor:    transparent;
  border-color:      transparent;

*/

* {
    font-family: JetBrainsMono Nerd Font;
}

.blank-window {
    background: transparent
}

.control-center {
    background: #282828;
    border: 2px solid #B5CC97;
    border-radius: 10px;
}

.control-center .notification-row:focus,
.control-center .notification-row:hover {
    opacity: 1;
    background: #282828;
}

.control-center-list {
    background: #282828;
}

.control-center-list-placeholder {
    background: #282828;
}

.floating-notifications {
    background: transparent;
}

.notification {
    background: #282828;
    padding: 0;
    margin: 0px;
}

.notification-row {
    outline: none;
    margin: 10px;
    padding: 0;
}

.notification-content {
    background: #282828;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #B5CC97;
    margin: 0;
}

.notification-default-action {
    margin: 0;
    padding: 0;
    border-radius: 10px;
}

.close-button {
    background: #f7768e;
    color: black;
    text-shadow: none;
    padding: 0;
    border-radius: 5px;
    margin-top: 10px;
    margin-right: 5px;
}

.close-button:hover {
    box-shadow: none;
    background: #f7768e;
    transition: all .15s ease-in-out;
    border: none
}

.notification-action {
    border: 2px solid #475437;
    border-top: none;
    border-radius: 5px;
}

.time {
    font-size: 16px;
    font-weight: 700;
    background: transparent;
    color: #CBCED3;
    text-shadow: none;
    margin-right: 18px
}

.body {
    font-size: 15px;
    font-weight: 400;
    background: transparent;
    color: #CBCED3;
    text-shadow: none
}

.body-image {
    margin-top: 6px;
    background-color: #ffffff;
    border-radius: 5px
}

.summary {
    font-size: 16px;
    font-weight: 700;
    background: transparent;
    color: #EBDBB2;
    text-shadow: none
}

.widget-title {
    color: #CBCED3;
    background: #475437;
    padding: 5px 10px;
    margin: 10px 10px 5px 10px;
    font-size: 1.5rem;
    border-radius: 10px;
}

.widget-dnd {
    background: #475437;
    padding: 5px 10px;
    margin: 10px 10px 5px 10px;
    border-radius: 10px;
    font-size: large;
    color: #CBCED3;
}

.widget-dnd>switch {
    background: #CBCED3;
}

.widget-dnd>switch:checked {
    background: #f7768e;
    border: 1px solid #f7768e;
}

.widget-dnd>switch slider {
    background: #475437;
    border-radius: 12px
}

.widget-dnd>switch:checked slider {
    background: #475437;
    border-radius: 12px
}

.widget-title>button {
    font-size: 1rem;
    color: #CBCED3;
    text-shadow: none;
    background: #475437;
    box-shadow: none;
    border-radius: 10px;
}

.widget-title>button:hover {
    background: #f7768e;
    color: #475437;
}

.widget-label {
    margin: 10px 10px 5px 10px;
}

.widget-label>label {
    font-size: 1rem;
    color: #CBCED3;
}

.widget-mpris {
    color: #CBCED3;
    background: #475437;
    padding: 5px 10px;
    margin: 10px 10px 5px 10px;
    border-radius: 10px;
}

.widget-mpris button {
    color: #CBCED3;
    background: #475437;
    border-radius: 10px;
}

.widget-mpris button:disabled {
    color: #535353;
    background: #475437;
    border-radius: 10px;
}

.widget-buttons-grid {
    font-size: x-large;
    padding: 5px;
    margin: 10px 10px 5px 10px;
    border-radius: 10px;
    background: #475437;
}

.widget-buttons-grid>flowbox>flowboxchild>button {
    margin: 3px;
    background: #282828;
    border-radius: 10px;
    color: #CBCED3;
}

.widget-volume {
    padding-left: 20px;
    padding-right: 20px;
    background: #475437;
    border-radius: 10px;
    font-size: x-large;
    color: #CBCED3;
}