.bash_history
.bash_logout
.bash_profile
.git-credentials
.gitconfig

.cache
.cert
.docker
.npm
.ssh

.nv
.pki
.mozilla
.viminfo
.vscode-oss
.python_history
.ssh/known_hosts
.ssh/known_hosts.old

Desktop
Documents
Downloads
Music
Pictures
Projects
Public
Storage
Templates
Videos
Machines

.local/state/*
.local/share/*
!.local/share/backgrounds
!.local/share/fonts
!.local/share/nautilus-python
!.local/share/nautilus-python/extensions
.local/share/nautilus-python/extensions/__pycache__

.config/*
!.config/alacritty
!.config/tmux
!.config/.install.sh
!.config/starship.toml
.config/fish
!.config/fish
!.config/fish/config.fish
.config/fish/fish_variables
!.config/.gnome.dconf