README.md

.bash_history
.bash_logout
.bash_profile
.git-credentials
.gitconfig

.cache
.cert
.docker
.npm

.pki
.mozilla
.viminfo
.vscode-oss
.python_history
.ssh/known_hosts
.ssh/known_hosts.old

Desktop
Documents
Downloads
Music
Pictures
Projects
Public
Storage
Templates
Videos
VirtualMachines

.local/state/*
.local/share/*
!.local/share/backgrounds
!.local/share/fonts

.config/.gsd-keyboard.settings-ported
.config/Code - OSS
.config/GIMP
.config/connections.db
.config/dconf/user
.config/evolution
.config/gtk-3.0
.config/gtk-4.0
.config/htop
.config/mimeapps.list
.config/monitors.xml
.config/nvim
.config/pulse
.config/systemd
.config/user-dirs.dirs
.config/user-dirs.locale
.config/virt-viewer
.config/fish/fish_variables