/*

@define-color bar-bg #000000;

@define-color main-bg #11111b;
@define-color main-fg #ffffff;

@define-color wb-act-bg #000000;
@define-color wb-act-fg #ffffff;

@define-color wb-hvr-bg #ffffff;
@define-color wb-hvr-fg #000000;

*/

* {
  border: none;
  font-family: 'JetBrainsMono NF', 'Symbols Nerd Font Mono';
  font-size: 16px;
  min-height: 10px;
  color: #ffffff; /* changed to white */
}

window#waybar {
  background: transparent;
}

#custom-arch {
  font-size: 20px;
}

#workspaces,
button.visible {
  color: #333333; 
  background: #777777;
}

#systemd-failed-units,
#custom-arch,
#window,
#workspaces,
#clock,
#cpu,
#memory,
#temperature,
#network,
#pulseaudio,
#custom-notifications,
#bluetooth {
  background-color: #222222;  
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 10px;
}

#systemd-failed-units,
#custom-arch,
#window,
#workspaces,
#cpu,
#memory,
#temperature,
#pulseaudio,
#bluetooth,
#custom-notifications,
#network {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}


